name: Build Flet APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Flet and Dependencies
        run: |
          pip install flet

      - name: Build APK
        run: |
          flet build apk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4  # <--- Yahan v4 kar diya hai
        with:
          name: Indoor-Cricket-App
          path: build/apk/*.apk
